<div class="container">
  <form [formGroup]="registrazioneForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput placeholder="Username" name="username" formControlName="username" />
        <mat-icon matSuffix>accessibility</mat-icon>
      </mat-form-field>
    </p>

    <div class="example-container">
      <mat-form-field >
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password" (keyup.enter)="onSubmit()" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="bottone">
    <button mat-button type="submit" [disabled]="!registrazioneForm.valid"> Registrati </button>
     </div>
  </form>
</div>
<router-outlet></router-outlet>
